<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

{% block mainmenu %}
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav">
        {% for m in menu %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ m.url }}">{{ m.name }}</a>
            </li>
        {% endfor %}
    </ul>
    </nav>
{% endblock %}

<br>

{% block content %}
    {% if get_flashed_messages(True) %}
    <div class="alert alert-primary" role="alert">{{ get_flashed_messages() }}</div>
    {% endif %}

    <button class="btn btn-primary" onclick="add()">Добавить</button>
    <form action="/index" id="add_datas" method="post">
        <button class="btn btn-success" type="submit">Сохранить</button>
        <li><label id="icons">input name:</label><input type="text" id="input0" name="name0" /></li>
    </form>
{% endblock %}

</body>
</html>