<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>

{% block mainmenu %}
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav">
        {% for m in menu %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ m.url }}">{{ m.name }}</a>
            </li>
        {% endfor %}
    </ul>
    </nav>
{% endblock %}

<h1 align="center">List of inputs</h1>

{% block content %}
    <table class="table table-bordered border-primary table-sm">
            <thead>
            <tr align="center">
                <th scope="col">Id</th>
                <th scope="col">Data</th>
            </tr>
            </thead>
        {% for jsons in jsons_list %}
            <tbody>
            <tr align="center">
                <td>{{ jsons.id }}</td>
                <td>{{ jsons.name }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}


</body>
</html>
